src/main/mule/sample-codedeploy-mule-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sample-codedeploy-mule-flow" doc:id="ae206881-3c2c-43ec-af94-2a34c9ce483f" >
		<http:listener doc:name="Listener" doc:id="9187a75d-f489-4a62-bd22-94d8b903131a" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="8b660a63-bd19-488b-988d-0bb72a13c073" message='sample-codedeploy-mule-flow started'/>
		<ee:transform doc:name="Transform Message" doc:id="60c242b6-f783-41f3-88b5-0161e436b018" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
("Hello World from " ++ attributes.queryParams.'name') as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2f979a1a-c996-42a3-bd67-0f0622958925" message="#[payload]"/>
	</flow>
</mule>
